# Cortex
neurons
cortex_modules
.cortex

# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err

# temp file for git conflict merging
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.tmp.html
*.dump

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db
*.iml

# Folders to ignore
.hg
.svn
.CVS
.idea
.vscode
.gitignore
.babelrc*
.eslint*
.prettierrc*
.husky
.github
node_modules/

# Project files or folders to ignore
src/
tools/
coverage/
specs/
.nebula-up/
